.layout-cover > div,
.layout-default > div,
.layout-caption > div,
.layout-title > div,
.layout-title-image > div,
.layout-section > div,
.layout-v-split > div,
.layout-grid > div {
  /* Flexbox vertical align top */
  justify-content: flex-start !important;
  /* Grid vertical align top */
  align-content: start !important;
  place-content: start center !important;
  /* Horizontal center */
  align-items: center !important;
  justify-items: center !important;
  text-align: center !important;
}

h1, h2, h3, h4, h5, h6, p {
  color: rgb(30, 30, 30) !important;
}
